/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #fff;
    font-size: 11px;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

#header
{
    width: 100%;
    padding: 4px;
    /*
    background: #F6A828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    border:1px solid #E78F08;
    color: White;
    font-size: 1.17em;
    font-weight:bold;
    border-radius: 4px;
*/ 
}

#footer
{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    text-align: right;
}

.page
{
    width:741px;
    left: 0;
    position: relative;
}

#main
{
    background-color:White;
    padding: 10px 0;
}

.module
{
    width: 100%;
    padding-bottom: 1em;
}

.module > div
{
    padding:4px;
    padding-bottom:20px;
}

.quickmatch > div
{
    padding-bottom: 5px;
}

.quickmatch td
{
    vertical-align: middle;
}

.module h3
{
    margin-top:0;
    padding:4px;
}

#content
{
    width:100%;
}

#content > tbody > tr > td
{
    vertical-align: top;
}

#content .left
{
    width: 100%;
    padding-right: 1em;
    border-right: 1px solid #eee;
}

#content .right
{
    padding-left: 1em;
    width:220px;
}

.keyvaluerow td
{
    height: 1em;
    padding:4px;
    margin-bottom: 4px;
}

.keyvaluerow .name
{
    font-weight: bold;
    white-space:nowrap;
    width: 60px;
}

.keyvaluerow .value
{
    overflow:hidden;
    white-space:nowrap;
}

.keyvaluerow .edit
{
    overflow:hidden;
    white-space:nowrap;
    display: none;
}

#userdetails .data
{
    width: 200px;
    table-layout: fixed;
}

.result
{
    padding: 4px;
}

.result div
{
    float: left;
}

.result .opponent
{
    width:40%;
}

.result .score
{
    width:30%;
    text-align:center;
}

.result .date
{
    width:30%;
    text-align:right;
}

.ui-selectmenu
{
    height: 21px !important;
    vertical-align: top !important;
    margin-top: 0px;
    *margin-top:-1px;
}

.ui-selectmenu-status
{
    line-height: 21px !important;
    padding: 0 !important;
    padding-left: 5px !important;
}

.quickmatch .time
{
    width:75px;
}

.quickmatch .ampm
{
    width: 50px;
}

.form .cities select
{
    width:220px;
}

.form .label
{
    font-size: 11px;
    color: #444;
    margin: 0.5em 0;
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
}

.form .label:first-child
{
    border-top: 0px solid #ccc;
}

.form .input
{
    margin: 0.5em 0;
    margin-bottom: 1em;
}

.form .input.full input
{
    width:200px;
}

.form .submit
{
}

.quickmatch .datepicker
{
    width:70px;
}

.offer .time, #results .time, #results .score
{
    font-weight: 400;
    font-size: 14px;
    padding-right: 5px;
    white-space: nowrap;
}

.offer td
{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
    vertical-align: top;
}

.offer:first-child td
{
    padding-top: 0em;
    border-top: 0px solid #ccc;
}

#players .image, .offer .image
{
    width: 54px;
    text-align: left;
}

.offer .accept
{
    vertical-align: top;
    text-align: right;
}

.offer .acceptMatch, #players .requestMatch
{
    width: 86px;
    margin-bottom: 2px;
}

.ui-button-text-icon-secondary .ui-button-text
{
    padding: .4em 2.1em .4em 0.5em !important;
}

#results table
{
    width: 100%;
}

#results td
{
    vertical-align: middle !important;
}

#results input
{
    width:90%;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 2px 3px;
    margin-top: 10px;
}

#results .comments input:focus
{
    background-color: White;
    border: 1px solid #F6AF39;
}

#scoredialog td
{
    font-size: 11px;
}

#scoredialog .score input
{
    width: 40px;
}

#scoredialog .comments
{
    text-align: left;
}

#scoredialog .comments input
{
    width: 180px;
}


#scoredialog td
{
    text-align: center;
    white-space: nowrap;
}

#playerDetails
{
    width: 100%;
}

#playerDetails td
{
    padding: 5px;
}

#playerDetails #playerRating
{
    font-size: 34px;
}

#userOffers table
{
    width:100%;
}

#userOffers table td
{
    vertical-align:top;
}

#userOffers table .time
{
    white-space: nowrap;
    padding-right: 5px;
    font-size: 16px;
}

#userOffers table .accept
{
    text-align:right;
}

#players td, .offer td
{
    vertical-align: top;
    text-align: center;
}

#players .rating, #players .age, .offer .rating, .offer .age
{
    font-size: 24px;
}

#players .title, .offer .details
{
    text-align: left;
}

#players .challenge
{
    text-align: right;
}

#players .name, .offer .name, .result .opponent .name
{
    font-size: 125%;
    font-weight: bold;
}

#players .location, .offer .location
{
    margin-top: 0.25em;
}

.ui-autocomplete-loading { background: white url('/content/ui-anim_basic_16x16.gif') right center no-repeat; }


.acName
{
    font-weight:bold;
}

.acLoc
{
    font-style: italic;
}

#calendarCard
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.calendarpage
{
    margin-bottom: 0.5em;
}

.calendarpage .prev
{
    float: left;
}

.calendarpage .next
{
    float: right;
}

.calendar
{
    width: 100%;
}

.calendar td, .calendar th
{
    padding: 4px;
}

.calendar th
{
    text-align: left;
    background-color: #C9C0B4;
}

.calendar tr td
{
    background-color: White;
}

.calendar tr:first-child td
{
    background-color: black;
}

.offertime .time
{
    background-color:Black;
    color:White;
    font-weight: bold;
}

.offertime .time
{
    border-bottom-width: 0;
}

#header .cal
{
    text-align:right;
}

#header .cal a
{
    color: White !important;
}

.grid table
{
    width: 100%;
    border-spacing: 0;
}

.grid table th
{
    text-align: left;
}

.grid table th, .grid table td
{
    padding: 2px;
}

.ui-multiselect-checkboxes
{
    overflow: hidden !important;
}